.App {
  text-align: center;
}

body {
  background-color: #283618;
  overflow: hidden;
}

.hud {
  z-index: 1000;
  position: absolute
}

.game {
}

.level {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.trash {
  width: 250px;
  height: 250px;
  margin: 5px;
  cursor: pointer;

  animation-duration: 4s;
  animation-name: trash-move;
  animation-timing-function: linear;

  position: absolute;
  left: -50%;
  display: inline;
}

.icon-trash {
  width: 120px;
  height: 120px;

  margin: 65px auto 0 auto;
  display: block;
}

.spotted-good {
  background-color: rgba(0,255,0,0.3);
}

.spotted-bad {
  background-color: rgba(255,0,0,0.3);
}

.overall-data {
  color: #FEFAE0;
}

@keyframes trash-move {
  from {
    left: -20%;
  }

  to {
    left: 100%;
  }
}
